<html>
<head>
    <title>
        <!-- Insert Images : ตำแหน่งและเส้นขอบรูปภาพ -->
    </title>
</head>
<body>
        <div align="center">
            <img src="/assets/images/ket.jpg" alt="CSUBU" class="center" width="300" height="300">
            <h1>Thidarat Ruamsamrong</h1>
            <h2>60114440143</h2>
            <h2>Nickname : Ket</h2>
            <h2>Age : 21</h2>
            <h2>Birthday : August,3 1998</h2>
            <h2>Favorite food : Tom Yum Kung</h2>
            <h2>Favorite song : Myself - Post Malone</h2>
        </div>
</body>
</html>
